blessings==1.6
bpython==0.16
curtsies==0.2.10
Django==2.0.3
django-constance==2.1.0
django-extensions==2.0.6
django-picklefield==0.3.2
greenlet==0.4.10
pkg-resources==0.0.0
Pygments==2.1.3
pytz==2018.3
requests==2.11.1
six==1.11.0
wcwidth==0.1.7
