{% extends "timeTracker/base.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'timeTracker/css/styles.css' %}">
{% endblock %}

{% block content %}

	<div id="clock"></div>

	<input type="number" id="emp_number">
	
	<div id="emp_box">
		<div id="emp_error" class="hidden"></div>
		
		<div id="emp_info" class="hidden">
			<div id="emp_info_image"></div>
			<div id="emp_info_name"></div>
			<div id="emp_info_work_time">
				<div id="shift_start"></div> <span id="shift_duration"></span>
			</div><!--/emp_info_work_time-->
		</div><!--/emp_info-->
	
	</div><!--/emp_box-->
	
	<div id="actions">
		<div id="action_header"></div>
		<div id="action_buttons"></div>
	</div><!--/actions-->
	
	<div id="punched_in_employees_list">
	    {% if open_shifts_list %}
	        <p>Currently punched in:</p>
	        <table>
	            {% for shift in open_shifts_list %}
	                <tr><td>{{ shift.employee.number }}</td><td>{{ shift.employee.last_name }} {{ shift.employee.first_name }}</td><td>{{ shift.start|date:"c" }}</td></tr>
	            {% endfor %}
	        </table>
	    {% else %}
	        <p>No one is currently at work</p>
	    {% endif %}
	</div>
	
	<script src="{% static 'timeTracker/js/index.js' %}"></script>

{% endblock %}
