{% extends "timeTracker/base.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'timeTracker/css/styles.css' %}">
{% endblock %}

{% block content %}

	<div id="clock"></div>

	<input type="number" id="emp_number">
	
	<div id="emp_box">
		<div id="emp_error" class="hidden"></div>
		
		<div id="emp_info" class="hidden">
			<div id="emp_info_image"></div>
			<div id="emp_info_name"></div>
			<div id="emp_info_work_time">
				<div id="shift_start"></div> <span id="shift_duration"></span>
			</div><!--/emp_info_work_time-->
		</div><!--/emp_info-->
	
	</div><!--/emp_box-->
	
	<div id="messages" class="hidden"></div>

	<div id="actions">
		<div id="action_header"></div>
		<div id="action_buttons"></div>
	</div><!--/actions-->

    {% if config.MOTD != "" %}
        <div id="motd">
            {{ config.MOTD|linebreaksbr }}
        </div>
    {% endif %}

	
	<div id="punched_in_employees_list">
	    {% if open_shifts_list %}
	        <p>Currently punched in:</p>
	        <table>
	            {% for shift in open_shifts_list %}
	                <tr><td>{{ shift.employee.number }}</td><td>{{ shift.employee.last_name }} {{ shift.employee.first_name }}</td><td>{{ shift.start|date:"c" }}</td></tr>
	            {% endfor %}
	        </table>
	    {% else %}
	        <p>No one is currently at work</p>
	    {% endif %}
	</div>
	
	<div id="employee_list">
	    <hr>
	    <h2>Employee List</h2>
	    <div id="character_links">
	        <a href="#employees_with_A">A</a> <a href="#employees_with_B">B</a> <a href="#employees_with_C">C</a> <a href="#employees_with_D">D</a> <a href="#employees_with_E">E</a> <a href="#employees_with_F">F</a> <a href="#employees_with_G">G</a> <a href="#employees_with_H">H</a> <a href="#employees_with_I">I</a> <a href="#employees_with_J">J</a> <a href="#employees_with_K">K</a> <a href="#employees_with_L">L</a> <a href="#employees_with_M">M</a> <a href="#employees_with_N">N</a> <a href="#employees_with_O">O</a> <a href="#employees_with_P">P</a> <a href="#employees_with_Q">Q</a> <a href="#employees_with_R">R</a> <a href="#employees_with_S">S</a> <a href="#employees_with_T">T</a> <a href="#employees_with_U">U</a> <a href="#employees_with_V">V</a> <a href="#employees_with_W">W</a> <a href="#employees_with_X">X</a> <a href="#employees_with_Y">Y</a> <a href="#employees_with_Z">Z</a> 
	    </div>
	    <table>
	        {% for employee in employee_list %}
	            {% ifchanged %}<tr><td colspan=2><h3><a name="employees_with_{{ employee.last_name.0|upper }}">{{ employee.last_name.0 }}</a></h3></td></tr>{% endifchanged %}
	            <tr><td>{{ employee.number }}</td><td>{{ employee.last_name }} {{ employee.first_name }}</td></tr>
	        {% endfor %}
	    </table>
	</div>
	
	<script src="{% static 'timeTracker/js/index.js' %}"></script>

{% endblock %}
